<div class="container">
    <h1>Contact me</h1>
    <ul class="contact-info">
        <li>Mobile: +91-9145356150</li>
        <li>Mail: ajaypt1942@gmail.com</li>
    </ul>
    <ul class="social-media">
        <li><a href="https://www.linkedin.com/in/ajay-thombare-0761b317a"><i class='bx bxl-linkedin'></i></a></li>
        <li><a href="https://github.com/ajuThombare"><i class='bx bxl-git'></i></a></li>
        <li><a href="https://www.instagram.com/hey_its_aju_1/"><i class='bx bxl-instagram'></i></a></li>
        
    </ul>
    
</div>